  <div class="title">
    <h1>Home</h1>
  </div>
  <% if current_user %>
    <div class="primary-card">
      <%= render 'form' %>
    </div>
  <% end %>
  <% @tweets.each do |tweet| %>
    <%= render partial: "tweet_card", locals: { tweet: tweet } %>
  <% end %>
